@media(max-width:800px)
{
    .top-section
    {
        position: relative;
        top: 120px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .text-container
    {
        position: relative;
        width: 100%;
        opacity: 0.8;
        border-radius: 10px;
    }
    .jumbotron
    {
        margin-top:0;
        height: 300px;
    }
    .jumbotron-img
    {
        margin-top: 0;
    }
    .jumbotron-img img
    {
        width: 100%;
    }
}
