@media(max-width:800px)
{
    .top-section
    {
        position: relative;
        top: 120px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .text-container
    {
        position: relative;
        width: 100%;
        opacity: 0.8;
        border-radius: 10px;
    }
    .jumbotron
    {
        margin-top:0;
        height: 300px;
    }
    .jumbotron-img
    {
        margin-top: 0;
    }
    .jumbotron-img img
    {
        width: 100%;
    }
}


/* responisiv navbar by akmal adi */


/* ukuran tablet */
@media (max-width: 1000px) {
    .top-section {
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
    }

    .top-section h1,
    .top-section p {
        margin-top: 20px;
    }
    
    .top-wrapper h1 {
        font-size: 32px;
    }
}



/* ukuran hp */
@media (max-width: 670px) {
    .top-section {
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
    }

    .top-section h1,
    .top-section p {
        margin-top: 10px;
    }
    
  .btn {
    width: 100%;
    text-align: center;
  }

  .top-wrapper {
    background-position: center;
    text-align: left;
    padding-top: 180px;
  }
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .jumbotron-img
  {
      display: none;
  }

  nav ul
  {
      display: none;
  }

  .container
  {
      background-color: rgba(100,100,100,0.8);
      padding: 20px;
  }
}
