/* CSS by JuanDK */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.jumbotron
{
    position: relative;
    width: 50%;
    height: 300px;
    min-width: 221px;
    max-width: 300px;
}

.top-section
{
    text-align: center;
    width: 100%;
    height: 300px;
    min-height: 189px;
    justify-content: space-evenly;
    display: flex;
    background: linear-gradient(90deg,#393e46, #282d35);
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

body
{
    background-color: #222831;
}


.jumbotron-img
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    background: linear-gradient(60deg  ,#fff,#ddd, #aaa);
    padding: 20px 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px #282d35;
}

.jumbotron-img div img
{
    display: block;
    width: 50%;
    max-width: 200px;
    animation: slide 10s linear infinite;
}

.jumbotron-img div
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pointer
{
    transition: 0.5s ease;
    padding: 40px 20px;
    border: none;
    opacity: 0.7;
    outline: none;
    background: none;
}

.pointer:active
{
    color: #12eeee;
}

.pointer:hover
{
    opacity: 1;
}

.fa
{
    text-decoration: none;
    margin-right: 10px;
    margin-top: 15px;
    width: 20px;
    height: auto;
    padding: 3px;
    border-radius: 3px;
}

.fa-facebook
{
    background: rgb(22, 144, 224);
    color: white;
}

.fa-instagram
{
    color: white;
    background: linear-gradient(purple, red);
}

.fa-twitter
{
    color: rgb(24, 237, 245);
    background-color: white;
}

.text-container
{
    /* background-color: #173fd2; */
    margin-top: 20px;
    max-width: 300px;
    width: 300px;
}

.discount
{
    margin-top: 10px;
    background: linear-gradient(90deg,#fe3311,#ed0000);
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
} 

.discount p
{
    opacity: 0.7;
    color: #ddd;
    font-size: 15px;
}
/* CSS  by JuanDK */


/* css by akmal adi */

nav {
    display: flex;
    background-color: #00adb5;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: white;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: lavender;
    text-decoration: none;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}

nav ul li a:hover {
    color: lightgreen;
    transform: translateX(-5px);
    transform: translateY(-5px);
    box-shadow: 5px 5px #00bca4;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(92, 146, 144);
    border-radius: 3px;
    transition: .6s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}


.menu-toggle input:checked~span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
    
header
{
    position: fixed;
}
/* CSS by akmal adi */

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 170px 0 100px 0;
  background-image: url(mockup-863469_1920.jpg);
  background-size: cover;
  background-position: center;
  color: #fffdf6;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 2.5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
}

.btn {
  display: inline-block;
  padding: 15px;
  border: 3px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 5px;
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.btn:hover {
  background-color: #fff;
  color: black;
  transition: 0.5s;
}
